# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Microsoft Power BI Para Business Intelligence e Data Science</font>

## <font color='blue'>Machine Learning com Linguagem Python e Power BI Dentro do Jupyter Notebook</font>

Problema de Negócio:

Considerando dados históricos de clientes que realizaram compras em nossa empresa, faça o agrupamento (segmentação) dos clientes por similaridade de características em 3 grupos e envie o relatório para a equipe de Marketing.

![DSA](imagens/Lab7.png)

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.4

In [2]:
# Imports
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

## Carregando os Dados

In [3]:
# Carrega os dados
df_dsa = pd.read_csv('dados/dados_clientes.csv')

In [4]:
type(df_dsa)

pandas.core.frame.DataFrame

In [5]:
# Visualiza as 10 primeiras linhas
df_dsa.head(10)

   id  idade  renda_anual  pontuacao_gastos
0   1     56        94740                90
1   2     69       136352                50
2   3     46        86617                62
3   4     32       114841                97
4   5     60        36896                51
5   6     25       145729                37
6   7     38        66175                96
7   8     56        27805                87
8   9     36        25237                78
9  10     40       135247                29

## Análise Exploratória

In [14]:
# Resumo estatístico
df_dsa.iloc[:,1:].describe()

            idade    renda_anual  pontuacao_gastos
count  500.000000     500.000000        500.000000
mean    44.732000   81557.166000         48.512000
std     15.239707   36764.379945         29.556946
min     18.000000   20384.000000          0.000000
25%     32.000000   49172.750000         24.000000
50%     45.000000   79219.000000         48.500000
75%     57.000000  113017.250000         73.250000
max     70.000000  149695.000000        100.000000

## Pré-Processamento dos Dados

In [15]:
# Cria o padronizador dos dados
padronizador = StandardScaler()

# dados devem estar na mesma escala

In [16]:
# Aplica o padronizador somente nas colunas de interesse
dados_padronizados = padronizador.fit_transform(
                    df_dsa[['idade', 'renda_anual', 'pontuacao_gastos']])

In [18]:
# a separação em dados de teste servem para avaliar a acuracia do modelo

In [17]:
# Visualiza os dados
print(dados_padronizados)

[[ 0.74012478  0.35893538  1.40506904]
 [ 1.59401387  1.49192537  0.05039391]
 [ 0.08328703  0.13776654  0.45679645]
 ...
 [-0.31081563  0.32661636  0.18586143]
 [-1.23038848 -1.48706069  1.43893592]
 [-1.03333716 -0.96992912 -0.59307677]]

## Construção do Modelo de Machine Learning Para Segmentação de Clientes

In [19]:
# Definimos o número de clusters (k)
# queremos separa em 3 grupos
# mas da para avaliar qual o melhor número de k com base na base de dados

k = 3

In [20]:
# Criamos o modelo K-means
kmeans = KMeans(n_clusters = k)

In [21]:
# Treinamento do modelo com os dados padronizados
kmeans.fit(dados_padronizados)

C:\Users\gabri\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(n_clusters=3)

In [24]:
# Atribuímos os rótulos dos clusters aos clientes
# atribuir o cluster a uma nova variavel do df
df_dsa['cluster'] = kmeans.labels_

In [23]:
# Exibe o resultado (10 primeiras linhas)
df_dsa.head(10)

   id  idade  renda_anual  pontuacao_gastos  cluster
0   1     56        94740                90        1
1   2     69       136352                50        0
2   3     46        86617                62        1
3   4     32       114841                97        1
4   5     60        36896                51        0
5   6     25       145729                37        2
6   7     38        66175                96        1
7   8     56        27805                87        1
8   9     36        25237                78        1
9  10     40       135247                29        2

In [25]:
# Salvamos o resultado em disco
df_dsa.to_csv('dados/segmentos.csv', index = False)

## Gerando Relatório dos Segmentos de Clientes com Power BI no Jupyter Notebook

https://pypi.org/project/powerbiclient/

In [30]:
# Instala o pacote  
!pip install powerbiclient

Collecting powerbiclient
  Obtaining dependency information for powerbiclient from https://files.pythonhosted.org/packages/95/06/6ca62f807ed6a441d31ab179e708deefa544d128d067aa45e34b39df0728/powerbiclient-3.1.1-py2.py3-none-any.whl.metadata
  Using cached powerbiclient-3.1.1-py2.py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\gabri\anaconda3\lib\site-packages (from powerbiclient) (8.0.4)
Collecting jupyter-ui-poll>=0.1.2 (from powerbiclient)
  Obtaining dependency information for jupyter-ui-poll>=0.1.2 from https://files.pythonhosted.org/packages/7a/9b/cbf48a399c78e749c23aa33d51ac97c8f35154846b470907db8d2a40e437/jupyter_ui_poll-1.0.0-py2.py3-none-any.whl.metadata
  Using cached jupyter_ui_poll-1.0.0-py2.py3-none-any.whl.metadata (7.3 kB)
Collecting msal>=1.8.0 (from powerbiclient)
  Obtaining dependency information for msal>=1.8.0 from https://files.pythonhosted.org/packages/ab/82/8f19334da43b7ef72d995587991a446f140346d76edb96a2c1a2689588e9/msal-1.30.0-py3-none-any.whl.metadata
  Using cached msal-1.30.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: requests>=2.25.1 in c:\users\gabri\anaconda3\lib\site-packages (from powerbiclient) (2.31.0)
Requirement already satisfied: pandas in c:\users\gabri\anaconda3\lib\site-packages (from powerbiclient) (1.5.3)
Collecting pyspark (from powerbiclient)
  Using cached pyspark-3.5.2.tar.gz (317.3 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  ERROR: Error [WinError 225] Não foi possível concluir a operação com êxito porque o arquivo contém um vírus ou software possivelmente indesejado while executing command python setup.py egg_info
ERROR: Could not install packages due to an OSError: [WinError 225] Não foi possível concluir a operação com êxito porque o arquivo contém um vírus ou software possivelmente indesejado

In [28]:
# Carrega as funções usadas para autenticar e gerar  relatórios
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

ModuleNotFoundError: No module named 'powerbiclient'

**ATENÇÃO**: Para fazer a autenticação é necessário ter uma conta no Power BI Service, criada com e-mail de estudante ou corporativo. Caso você não tenha, apenas acompanhe as aulas e ao final mostraremos como abrir o relatório no Power BI  Desktop, que será fornecido ao final do capítulo.

In [29]:
# Define a autenticação no Power BI Service
device_auth = DeviceCodeLoginAuthentication()

NameError: name 'DeviceCodeLoginAuthentication' is not defined

In [ ]:
# Cria o relatório no Power BI
relatorio_PBI = QuickVisualize(get_dataset_config(df_dsa), auth = device_auth)

In [ ]:
# Renderiza (visualiza) o relatório
relatorio_PBI

# Fim